@using Products.Utility;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - happyshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap.min (3).css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <link rel="stylesheet" href="~/happyshop.styles.css" asp-append-version="true" />

    <style>
        .navbar-nav .nav-link {
            color: white;
        }

    </style>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
            <div class="container-fluid">
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-area="Customer" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Category" asp-area="Admin" asp-action="categoryindex">Category</a>
                                    <a class="dropdown-item" asp-controller="Product" asp-area="Admin" asp-action="Index">Product</a>
                                    <a class="dropdown-item" asp-controller="Company" asp-area="Admin" asp-action="Index">Company</a>
                                    <a class="dropdown-item" asp-controller="ReviewControllerAdmin" asp-area="Admin" asp-action="Index">Reviews</a>
                                    <a class="dropdown-item" asp-controller="Announcement" asp-area="Admin" asp-action="Index">Announcement</a>
                                    <a class="dropdown-item" asp-controller="Faq" asp-area="Admin" asp-action="Index">Faq</a>
                           
                                <a class="dropdown-item" asp-area="Admin" asp-controller="ApplicationUser" asp-action="Index">Manage User</a>

                                    <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Create User</a>

                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.Role_Customer))
                        {
                           
                                    <a class="nav-link" asp-controller="Review" asp-area="Customer" asp-action="Index">Reviews</a>
                            <a class="nav-link" asp-controller="MyReview" asp-area="Customer" asp-action="Index">My Reviews</a>
                            <a class="nav-link" asp-controller="ProductPage" asp-area="Customer" asp-action="Index">Products</a>
                            <a class="nav-link" asp-controller="AnnouncementCustomer" asp-area="Customer" asp-action="Index">Announcement</a>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">FAQ</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark" asp-controller="Faq" asp-area="Customer" asp-action="Index">FAQ</a>
                                    <a class="nav-link text-dark" asp-controller="MyFaq" asp-area="Customer" asp-action="Index">My FAQ</a>


                                </div>
                            </li>
                              
                        }
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order"
                               asp-action="Index">Manage Order</a>
                        </li>
                    
           

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer"
                               asp-controller="Cart" asp-action="Index">
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>
                    </ul>
                     <partial name="_LoginPartial" /> 
            
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/83g40wjxltcnwft1a2euqot5gb4gals43zcy5p3zmc4ycwbo/tinymce/6/
tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
            asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
