@model register
@{
    ViewData["Title"] = "login";
}
<style>
    /* Custom styles for the login form */
    .login-form {
        max-width: 350px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        margin-top: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .login-form label {
            font-weight: bold;
        }

        .login-form input[type="email"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .login-form button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #fc5e03; /* Orange color */
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

            .login-form button:hover {
                background-color: #d370e4; /* Darker shade of orange */
            }

        .login-form .form-check-label {
            font-weight: normal;
        }
         .hidden {
            display: none;
        }
</style>

<div class="login-form">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <p class="hidden">Customer Login Form</p>
        <div class="mb-3">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label asp-for="pass"></label>
            <input asp-for="pass" class="form-control" />
            <span asp-validation-for="pass" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.hidden').style.display = 'block';
    });
</script>
