@model Review
@{
    ViewData["Title"] = "Delete";
}
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Review</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />

        </div>

        <div class="form-floating py-2 col-12">
          

            <label asp-for="image" class="ms-2"></label>

            <img id="imagePreview" class="mt-2" style="max-width: 100%; max-height: 200px; display: block;" src="@Model.image" />

        </div>

        <div class="mb-3">
            <label asp-for="Rev"></label>
            <input asp-for="Rev" class="form-control" disabled />

        </div>



        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" disabled />

        </div>
        <button type="submit" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Review" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<script>
    function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }
</script>