<style>


    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 20px 0;
    }

    .about {
        background: #f4f4f4;
        padding: 20px;
    }

        .about p {
            text-align: justify;
        }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Height of the footer */
        background-color: #f5f5f5;
        text-align: center;
        line-height: 60px; /* Align text vertically in the middle */
    }
</style>



    <header>
        <h1>About HappyShop</h1>
    </header>
    <div class="container">
        <div class="about">
            <p>
                HappyShop (hS) is a Mauritian company dealing with the sale of a variety of cheap and quality products such
                as bags, sarees, shoes, etc. hS wishes to attract more customers and subsequently increases its daily
                sales. For this purpose, hS needs to implement an appropriate full-fledged e-Commerce application enabling
                posting and display of items on the site, thus providing a wide range of products to its customers.
            </p>
        </div>
    </div>
 


